{% extends "base.html" %}
{% load static %}

{% block title %} 
<title>{{ clt.nom_client }}</title>
 {% endblock %}

{% block content %}

<form method="post" enctype='multipart/form-data' > 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Enregistrer"> 
</form> 

<br>
<table class="styled-table">
    <tr>
<td><a href="{% url 'stock:remises_list' clt.nom_client %}">Gestion remises</a></td>      
<td><a href="{% url 'stock:client_list' %}">Liste clients</a></td>
<td><a href="{% url 'stock:client_ajouter' %}">ajouter clients</a></td>
    </tr>        
</table>    


{% endblock %}










