{% extends "base.html" %}
{% block title %}Tableau de bord{% endblock %}



<div class="content">
{% block content %}

{% if query %}

{% if prd %}
<h6>Produits:</h6>
{% for ab in prd %}
<a href="{% url 'stock:produit_list' %}"> &nbsp;{{ab.nom_produit}} &nbsp;  </a>
{% endfor %} 
<br><br>   
{% endif %} 

{% if clt %}
<h6>Clients:</h6>
{% for ab in clt %}
<a href="{% url 'stock:client_list' %}"> &nbsp;{{ab.nom_client}} &nbsp;  </a>
{% endfor %}   
<br><br> 
{% endif %} 

{% if dele %}
<h6>Délegués:</h6>
{% for ab in dele %}
<a href="{% url 'stock:delegue_list' %}"> &nbsp;{{ab.nom_delegue}} &nbsp;  </a>
{% endfor %}  
<br><br>  
{% endif %} 

{% if cont %}
<h6>Contacts clients:</h6>
{% for ab in cont %}
<a href="{% url 'stock:rechercheContact' %}"> &nbsp;{{ab.nom_contact}} &nbsp;  </a>
{% endfor %}  
<br><br>  
{% endif %} 

{% endif %}

{% if seuil%}
<h3 style="color:red">Stock <b>faible</b> </h3>

<table class="table table-striped ">
<tr>
<th>Nom produit</th>
<th>Quantite en stock</th>
<th>Seuil</th>
</tr>  
{% for tt in seuil %}  
<tr>
    <td>{{tt.nom_produit}}</td>
    <td>{{tt.quantite_stock}}</td>
    <td>{{tt.seuil}}</td>
    
    </tr>
{% endfor %}    
</table>    
{% else %}
<h3 style="color:green">Quantité en stock de tous les produits est supérieur au seuil défini</h3>
{% endif %}
{% if request.user.is_authenticated %}
<p><a href="{% url 'stock:produit_list' %}"> Liste des articles </a>
{% endif %}
{% endblock %}
</div>



<div class="messages">
{% block msg %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">✖</a>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>


