{% extends "base.html" %}

{% block title %}<title>Liste des délégués</title>{% endblock %}




{% block content %}




<table border>
    <tr></tr><td><a href="{% url 'stock:delegue_list' %}" class="btn btn-info">Liste délegués</a></td>
    <td><a href="{% url 'stock:delegue_ajouter' %}" class="btn btn-info">Ajouter un délegué</a></td></tr>
    
    </table>
<br><br><br><br>
<h1>Liste de(s) {{nambir}} délégué(s) </h1>
<br><br><br>
<h5>Filtrer les délégués par Zone :</h5>

<ul> 
<li><a href="{% url 'stock:delegue_list_zone' 'Nord' %}">Nord</a></li>
<li><a href="{% url 'stock:delegue_list_zone' 'Centre' %}">Centre</a></li>
<li><a href="{% url 'stock:delegue_list_zone' 'Sfax' %}">Sfax</a></li>
<li><a href="{% url 'stock:delegue_list_zone' 'Sud' %}">Sud</a></li>
</ul>




<br><br>

<div style="  border: 2px outset rgb(255, 255, 248);
background-color: rgb(226, 236, 236);
text-align: center;">
{% for del in posts %}

<div class="post-author">
<h5>le délégué {{del.nom_delegue}} basé sur {{del.base}}</h5>

</div>
<div>
 <a href="{{ del.get_absolute_url }}" class="btn btn-success">Détails échantillons</a>
<br/><br/><br/>
</div>
<hr>
{% endfor %}
{% include "pagination.html" with page=posts %}
</div>

{% endblock %}