{% extends "base.html" %}
{% load static %}

{% block title %} 
<title>{{ del.nom_client }}</title>
 {% endblock %}

{% block content %}

<form method="post" enctype='multipart/form-data' > 
    {% csrf_token %} 
    {{ form.as_p }} 
    <input type="submit" value="Enregistrer"> 
</form> 

<br>
<table class="styled-table">
    <tr>
<td><a href="{% url 'stock:delegue_list' %}">Liste délegués</a></td>
<td><a href="{% url 'stock:delegue_ajouter' %}">ajouter délegué</a></td>
    </tr>        
</table>    


{% endblock %}










