{% extends "base.html" %}

{% block title %}<title>{{ delegue.nom_delegue }}</title>{% endblock %}

{% block content %}
<style>
    
</style>

<h2>Le délégué {{ delegue.nom_delegue }} est basé sur <em>{{ delegue.base }} </em></h2>
<br>
<div>
    <form style="background:pink;font-size:14px;color:gray;"  method="post" action="{% url 'stock:delegue_detail_filtre' delegue.id %}">
        {% csrf_token %}
<fieldset>


    <label for="ddd">Date début:</label>
    <input id ="ddd" type ="date" name="dd" default = "None"/>
         

    <label for="fff">Date fin:</label>
    <input id ="fff" type ="date" name="df"/>
</fieldset> 
  


    <label for="prd">Nom produit:</label>
    
    <select id="prd" name="prd">
        <option value= "None">--Choisir produit--</option>
{% for ab in selected_prd %}

{% ifchanged %}<option  value="{{ab.nom_produit}}">{{ab.nom_produit}}</option>{% endifchanged %}
{% endfor %}
</select>  



</fieldset> 
  <br>
<input type="submit" value="Filtrer" />
</form>  
</div>    
<br>

<h3>Liste de tous les échantillons données:</h3>
<table class="styled-table" >
<tr>
    <th>Date</th>
    <th>Nom produit</th>
    <th>Quantité donnée </th>
</tr>
{% for ab in total %}
<tr>
    <td>{{ab.date}}</td>
    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_donne}}</td>

</tr>
{% endfor %}
</table>





<h2>Synthèse des échantillons mensuels:</h2>
<table class="styled-table">
<tr>

    <th>Nom produit</th>
    <th>Total Quantité donnée ce mois</th>
</tr>
{% for ab in echantillon %}
<tr>

    <td>{{ab.produit__nom_produit}}</td>
    <td>{{ab.total_qte}}</td>

</tr>
{% endfor %}
</table>

<hr>
<h2>Synthèse des échantillons annuels:</h2>
<table class="styled-table" >
<tr>

    <th>Nom produit</th>
    <th>Total Quantité donnée cette année</th>
</tr>
{% for ab in echantillon2 %}
<tr>

    <td>{{ab.produit__nom_produit}}</td>
    <td>{{ab.total_qte}}</td>
    
</tr>
{% endfor %}

</table>
<br>


<table class="styled-table">
    <tr>
<td><a href="{% url 'stock:delegue_list' %}">Retour vers la Liste des délégues</a></td>
<td><a href="{% url 'stock:delegue_ajouter' %}">Ajouter un délégué</a></td>
<td><a href="{% url 'stock:delegue_supprimer' delegue.pk %}">Supprimer un délégué</a></td>
    </tr>        
</table>  
{% endblock %}










