{% extends "base.html" %}

{% block title %}<title>Liste des produits</title>{% endblock %}




{% block content %}

<h3>Liste de(s) {{nambir}} produits(s) </h3>




<div class="card-body">

    <table class="table table-striped ">

<tr>
<th>Nom produit</th>
<th>Pix</th>    
<th>Quantité stock</th>
<th>Seuil</th>
<th>Alimenter ?</th>
<th>Modifier ?</th>
<th>Supprimer ?</th>
</tr> 
{% for ab in posts %}   
<tr>
<td>{{ab.nom_produit}}</td>
<td>{{ab.prix}}</td>
<td>{{ab.quantite_stock}}</td>
<td>{{ab.seuil}}</td>
<td><a href="{% url 'stock:produit_alimenter' ab.id%}">Alimenter</a></td>
<td><a href="{% url 'stock:produit_modifier' ab.id%}">Modifier</a></td>
<td><a href="{% url 'stock:produit_supprimer' ab.id%}">Supprimer</a></td>
</tr>
{% endfor %}
</table>


{% include "pagination.html" with page=posts %}



</div>

{% endblock %}