{% extends "base.html" %}

{% block title %}<title>Liste des remises</title>{% endblock %}




{% block content %}
    


<h3>Liste de(s) remise(s) </h3>


<p>Client {{clt.nom_client}} de type {{clt.type_client}} basé {{clt.base_client}}

    <div class="card-body">

        <table class="table table-striped ">
<tr>
<th>date</th>
<th>Taux</th>    

<th>Modifier ?</th>
<th>Supprimer ?</th> 
</tr> 
{% for ab in sel %}   
<tr>
<td>{{ab.date_remise}}</td>
<td>{{ab.taux_remise}}</td>

<td><a href="{% url 'stock:remise_modifier' ab.id %}">Modifier</a></td>
<td><a href="{% url 'stock:remise_supprimer' ab.id %}">Supprimer</a></td> 
</tr>
{% endfor %}
</table>

<div class="card-body">

    <table class="table table-striped ">
        <tr><td>
<a  href="{% url 'stock:remise_ajouter_clt' clt.pk %}">Ajouter remise ?</a></td></tr></table>





</div>

{% endblock %}