{% extends "base.html" %}
{% load humanize %}
{% block title %}<title>Détails vente </title>{% endblock %}

{% block content %}
<h5>Payement des ventes :</h5>
<br>
<div  >
    <div >
        <form action="{% url 'stock:vente_payement' %}" method="post">
             {% csrf_token %}
            N° BL  <select name="bl">
                <option value= "None">--Choisir BL--</option>
    {% for ab in selected_bl%}
    
    {% ifchanged %}<option  value="{{ab.numero_BL}}">{{ab.numero_BL}}</option>{% endifchanged %}
    {% endfor %}
    </select>    
          N° Facture <select name="fact">
            <option value="None">--Choisir Facture--</option>
        {% for ab in selected_bl%}
        {% ifchanged %}<option  value="{{ab.numero_facture}}">{{ab.numero_facture}}</option>{% endifchanged %}
        {% endfor %}
        </select>    
    <input type="submit" value="filtrer">
    </form></div>   
</div>

<br><br>


{% if request.POST %}

<h3>Corps de la vente:</h3>
<div class="card-body">

    <table class="table table-striped ">
<tr>
    <th>Date vente</th>
    <th>Nom client</th>
    <th>Moyen de payement</th>
    <th>Nom produit</th>
    <th>Quantité vendu </th>
    <th>Total </th>

</tr>
{% for ab in selected_bl %}
<tr>
    <td>{{ab.date_vente}}</td>
    <td>{{ab.client.nom_client}}</td>
    <td>{{ab.moyen_payement}}</td>
    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_vendu}}</td>
    <td>{{ab.price|floatformat:3|intcomma}}</td>
</tr>
{% endfor %}
</table></div>

<h3>Total de la vente = {{globalite|floatformat:3|intcomma}}</h3>
<br><br><br>
{% if selected_bl %} <h3 style="border:solid 1px"><a href="{% url 'stock:payement' bl fact %}">êtes vous sûr de vouloir procéder au payement ?? </a> <h3> {% endif %}

{% else %}
<H3> Veuillez choisir un N°BL ou un N° facture</h3>
{% endif%}
{% endblock %}










