{% extends "base.html" %}
{% load static %}
{% block title %}<title>Ajouter vente </title>{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div>  <h2>Bienvenue {{user}}</h2>
    <tr><td><a href="{% url 'stock:vente_list' %}" class="btn btn-info">Liste des ventes</a></td></tr>

    <h4>Veuillez renseigner l'entête de la vente</h4></div>
<form method="post">
    {% csrf_token %}




        {{form.as_p}}

    
        
    <table>  
        <h4>Veuillez renseigner les produits et les quantités vendus</h4>
    {{ link_formset.management_form }}

    {% for link_form in link_formset %}
  
        <div class="link-formset">
            {{ link_form.nom_produit }}
            {{ link_form.quantite_vendu }}
            {% if link_form.etabz.errors %}
                {% for error in link_form.nom_article.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}


        </div>
    {% endfor %}

    {% if link_formset.non_form_errors %}
        {% for error in link_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
        </table>

     <p> <input type="submit" class="btn btn-success" value="Enregistrer mon choix"></p>
</form>



<!-- Include formset plugin - including jQuery dependency -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'Ajouter choix',
        deleteText: 'Supprimer'
    });
</script>
{% endblock content %}
