{% extends "base.html" %}
{% load humanize %}
{% block title %}<title>Détails vente </title>{% endblock %}

{% block content %}

{% with ventes|first as gg %}
<p>vente <b>{{ gg.client }} </b> du {{gg.date_vente}} </p>
<p>Le client bénéficie d'une remise de {{ gg.client.taux_remise }}</p>
<p>BL: {{gg.numero_BL}}</p>
<p>Fact: {{gg.numero_facture}}</p>
{% endwith %}



<h6>Corps de la vente:</h6>
<div class="card-body">

    <table class="table table-striped ">
<tr>

    <th>Nom produit</th>
    <th>Quantité vendu </th>
    <th>Total </th>

</tr>
{% for ab in ventes %}
<tr>
    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_vendu}}</td>
    <td>{{ab.prix|floatformat:3|intcomma}}</td>


</tr>

{% endfor %}
</table></div>

<h5>Total de la vente = {{somme|floatformat:3|intcomma}} TND</h5>




{% endblock %}










