{% extends "base.html" %}
{% load humanize %}
{% block title %} <title>Liste des Ventes filtrées</title> {% endblock %}




{% block content %}




<h4>Liste de(s) {{nambir}} ventes(s) </h4>
<div class="card-body">

    <table class="table table-striped ">
<tr>

    <th>Date vente</th>
    <th>Nom du client</th>
    <th>Numéro BL</th>
    <th>Numéro facture</th>
    <th>Moyen de payement</th>
    <th>Paye ?</th>

    <th>Nom du produit</th>
    <th>Quantité vendu</th>

    <th>Montant remise</th>
    <th>Total</th>
</tr>  
{% for ab in total %}

<tr>
<td>{{ab.date_vente}}</td>
<td>{{ab.client.nom_client}}</td>
<td>{{ab.numero_BL}}</td>
<td>{{ab.numero_facture}}</td>
<td>{{ab.moyen_payement}}</td>
<td>{{ab.paye}}</td>

<td>{{ab.produit.nom_produit}}</td>
<td>{{ab.quantite_vendu}}</td>

<td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
<td>{{ab.prix|floatformat:3|intcomma }}</td>
</tr>    
{% endfor %} 

</table>
<h5>Le montant total des ventes est de  {{somme|floatformat:3|intcomma }} DT</h5>
</div>
<br>

</div>
<h4>Ventes non payés:</h4>
<div class="card-body">

    <table class="table table-striped ">
    <tr>
    
        <th>Date vente</th>
        <th>Nom du client</th>
        <th>Numéro BL</th>
        <th>Numéro facture</th>
        <th>Moyen de payement</th>


        <th>Nom du produit</th>
        <th>Quantité vendu</th>

        <th>Montant remise</th>
        <th>Total</th>
    </tr>  
    {% for ab in totalnp %}
    
    <tr>
    <td>{{ab.date_vente}}</td>
    <td>{{ab.client.nom_client}}</td>
    <td>{{ab.numero_BL}}</td>
    <td>{{ab.numero_facture}}</td>
    <td>{{ab.moyen_payement}}</td>
 

    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_vendu}}</td>

    <td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
    <td>{{ab.prix|floatformat:3|intcomma }}</td>
    </tr>    
    {% endfor %} 
    
    </table>
    <h5> Le montant total des ventes non encore payés est de  {{sommenp|floatformat:3|intcomma }} DT </h5>
    </div>
   
<br>
    <h4>Gratuités:</h4>
    <div class="card-body">

        <table class="table table-striped ">
        <tr>
        
            <th>Date vente</th>
            <th>Nom du client</th>
            <th>Numéro BL</th>
            <th>Numéro facture</th>

        
            <th>Nom du produit</th>
            <th>Quantité </th>
        

        </tr>  
        {% for ab in gratuit %}
        
        <tr>
        <td>{{ab.date_vente}}</td>
        <td>{{ab.client.nom_client}}</td>
        <td>{{ab.numero_BL}}</td>
        <td>{{ab.numero_facture}}</td>

        
        <td>{{ab.produit.nom_produit}}</td>
        <td>{{ab.quantite_vendu}}</td>

        </tr>    
        {% endfor %} 
        
        </table>
    </div>

<br><div class="card-body">

    <table class="table table-striped ">
    <tr></tr><td><a href="{% url 'stock:vente_list' %}" class="btn btn-info">Liste des ventes</a></td>
    <td><a href="{% url 'stock:vente_ajouter' %}" class="btn btn-info">Ajouter une vente</a></td></tr>
    
    </table></div>
   
{% endblock %}