{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div >
  <form method="post" action="{% url 'stock:vente_clt_chart' %}" class="form">
      {% csrf_token %}
<label for="prd">Nom produit:</label> 
<select id="prd" name="prd">
<option value= "">--Choisir produit--</option>
{% for ab in prd %}
{% ifchanged %}<option  value="{{ab.nom_produit}}">{{ab.nom_produit}}</option>{% endifchanged %}{% endfor %}</select>

<label for="clt">Nom client:</label> 
<select id="clt" name="clt">
<option value= "">--Choisir client--</option>
{% for abb in clt %}
{% ifchanged %}<option  value="{{abb.nom_client}}">{{abb.nom_client}}</option>{% endifchanged %}{% endfor %}</select>


<label for="ddd">Date début:</label><input id ="ddd" type ="date" name="dd" default = "None"/ style="width:15% ">
<label for="fff">Date fin:</label><input id ="fff" type ="date" name="df" style="width:15% "/>

<input type="submit" value="Filtrer" style="width:15% "/>
</form>  
</div>    
<br>


  <div class="card-body">

    <table class="table table-striped ">
<tr>

    <th>Nom clients</th>
    <th>C.A </th>


</tr>
{% for ab in dataset %}
<tr>
    <td style="text-align:left">{{ab.client__nom_client}}</td>
    <td style="text-align:left">{{ab.totqte|floatformat:3|intcomma}}</td>



</tr>
{% endfor %}
</table></div>


<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'bar'
      },
      title: {
          text: 'total ventes par clients'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.client__nom_client }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Ventes produits (TND)',
          data: [
            {% for entry in dataset %}{{ entry.totqte }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }, ]
  });
</script>

{% endblock %}