{% extends "base.html" %}
{% load humanize %}
{% block title %} <title>Liste des Ventes</title> {% endblock %}




{% block content %}




<h4>Liste de(s) {{nambir}} ventes(s) </h4>

Filtrer les ventes par période :

<div class="card-body">

    <table class="table table-striped " style="text-align:center">
<tr>
<td width="5%"><a href="{% url 'stock:vente_list_period' '1' %}">Aujourd'hui</a></td>
<td><a href="{% url 'stock:vente_list_period' '2' %}">Hier</a></td>
<td><a href="{% url 'stock:vente_list_period' '3' %}">Cette semaine</a></td>
<td><a href="{% url 'stock:vente_list_period' '4' %}">Ce mois</a></td>
<td><a href="{% url 'stock:vente_list'  %}">Tous</a></td>
 </table></div>
<br>
<h6 >Filtrer les ventes par numéro BL/Facture :</h6>


<div class="search-bar">
    <form action="{% url 'stock:vente_bl_facture' %}" method="post" class="search-form d-flex align-items-center" >
         {% csrf_token %}
        N° BL  <select name="bl">
            <option value= "None">--Choisir BL--</option>
{% for ab in posts%}

{% ifchanged %}<option  value="{{ab.numero_BL}}">{{ab.numero_BL}}</option>{% endifchanged %}
{% endfor %}
</select>    
      N° Facture <select name="fact">
        <option value="None">--Choisir Facture--</option>
    {% for ab in posts%}
    {% ifchanged %}<option  value="{{ab.numero_facture}}">{{ab.numero_facture}}</option>{% endifchanged %}
    {% endfor %}
    </select>    
<input type="submit" value="filtrer">
</form></div>
<br>

<div>
    <h6>Filtre personnalisée</h6>
    <form   method="post" action="{% url 'stock:vente_list_filtre' %}" class="search-form d-flex align-items-center">
        {% csrf_token %}



    <label for="ddd">Date début:</label>
    <input id ="ddd" type ="date" name="dd" default = "None"/>
         

    <label for="fff">Date fin:</label>
    <input id ="fff" type ="date" name="df"/>

  


    <label for="prd">Nom produit:</label>
    
    <select id="prd" name="prd">
        <option value= "None">--Choisir produit--</option>
{% for ab in prd %}

{% ifchanged %}<option  value="{{ab.nom_produit}}">{{ab.nom_produit}}</option>{% endifchanged %}
{% endfor %}
</select>  



    <label for="clt">Nom client:</label>
    
    <select id="clt" name="clt">
        <option value= "None">--Choisir client--</option>
{% for ab in clt %}

{% ifchanged %}<option  value="{{ab.nom_client}}">{{ab.nom_client}}</option>{% endifchanged %}
{% endfor %}
</select>    

</fieldset> 
 
<input type="submit" value="Filtrer" />
</form>  
</div>    
<br><br>
<h4>Toutes les ventes </h4>
<div class="card-body">

    <table class="table table-striped ">
<tr>

    <th>Date vente</th>
    <th>Nom du client</th>
    <th>Numéro BL</th>
    <th>Numéro facture</th>
    <th>Moyen de payement</th>
    <th>Paye ?</th>

    <th>Nom du produit</th>
    <th>Quantité vendu</th>

    <th>Montant remise</th>
    <th>Total</th>
</tr>  
{% for ab in posts %}

<tr>
<td>{{ab.date_vente}}</td>
<td>{{ab.client.nom_client}}</td>
<td>{{ab.numero_BL}}</td>
<td>{{ab.numero_facture}}</td>
<td>{{ab.moyen_payement}}</td>
<td>{{ab.paye}}</td>

<td>{{ab.produit.nom_produit}}</td>
<td>{{ab.quantite_vendu}}</td>

<td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
<td>{{ab.prix|floatformat:3|intcomma }}</td>
</tr>    
{% endfor %} 

</table>
{% include "pagination.html" with page=posts %}
<h5>Le montant total des ventes est de  {{somme|floatformat:3|intcomma }} DT</h5>
</div><br><br>




<div class="card-body">
    <h4>Ventes non payés:</h4>
    <table class="table table-striped ">
    <tr>
    
        <th>Date vente</th>
        <th>Nom du client</th>
        <th>Numéro BL</th>
        <th>Numéro facture</th>
        <th>Moyen de payement</th>


        <th>Nom du produit</th>
        <th>Quantité vendu</th>

        <th>Montant remise</th>
        <th>Total</th>
    </tr>  
    {% for ab in ventesnp %}
    
    <tr>
    <td>{{ab.date_vente}}</td>
    <td>{{ab.client.nom_client}}</td>
    <td>{{ab.numero_BL}}</td>
    <td>{{ab.numero_facture}}</td>
    <td>{{ab.moyen_payement}}</td>
 

    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_vendu}}</td>

    <td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
    <td>{{ab.prix|floatformat:3|intcomma }}</td>
    </tr>    
    {% endfor %} 
    
    </table>
    </div>
    <h5> Le montant total des ventes non encore payés est de  {{sommenp|floatformat:3|intcomma }} DT </h5>
<br><br>
    <h4>Gratuités:</h4>
    <div class="card-body">

        <table class="table table-striped ">
        <tr>
        
            <th>Date vente</th>
            <th>Nom du client</th>
            <th>Numéro BL</th>
            <th>Numéro facture</th>

        
            <th>Nom du produit</th>
            <th>Quantité </th>
        

        </tr>  
        {% for ab in postss %}
        
        <tr>
        <td>{{ab.date_vente}}</td>
        <td>{{ab.client.nom_client}}</td>
        <td>{{ab.numero_BL}}</td>
        <td>{{ab.numero_facture}}</td>

        
        <td>{{ab.produit.nom_produit}}</td>
        <td>{{ab.quantite_vendu}}</td>

        </tr>    
        {% endfor %} 
        
        </table>
    </div>

<br><div class="card-body">

    <table class="table table-striped ">
    <tr></tr><td><a href="{% url 'stock:vente_list' %}" class="btn btn-info">Liste des ventes</a></td>
    <td><a href="{% url 'stock:vente_ajouter' %}" class="btn btn-info">Ajouter une vente</a></td></tr>
    
    </table></div>
   
{% endblock %}