{% extends "base.html" %}
{% load humanize %}

{% block title %}<title>Histirique vente par client</title>{% endblock %}

{% block content %}

<h2>vente {{ cl.nom_client }} (type {{cl.type_client}})</h2>
<h3>Détail(s) de {{nambir}} vente(s)</h3>

<h5>Filtrer les ventes :</h5>

<div class="card-body">

    <table class="table table-striped ">
    <tr>
    <td width="5%"><a href="{% url 'stock:vente_client_historique_period' cl.pk '1' %}">Aujourd'hui</a></td>
    <td><a href="{% url 'stock:vente_client_historique_period' cl.pk '2' %}">Hier</a></td>
    <td><a href="{% url 'stock:vente_client_historique_period' cl.pk '3' %}">Cette semaine</a></td>
    <td><a href="{% url 'stock:vente_client_historique_period' cl.pk '4' %}">Ce mois</a></td>
    <td><a href="{% url 'stock:vente_client_historique' cl.pk  %}">Tous</a></td></tr>
</table></div>
    <br>


<h3>Détails vente(s)</h3>
<div class="card-body">

    <table class="table table-striped ">
<tr>
    <th>Date vente </th>
<th>Numéro BL</th>
<th>Numéro facture</th>
<th>Moyen de paiement</th>
<th>Payé</th>
<th>Gratuit</th>
<th>Nom produit</th>
<th>Quantité</th>
<th>Total</th>
</tr>   
{% for histo in historique %}
<tr>
    <td>{{histo.date_vente}}</td> 
 <td>{{ histo.numero_BL }}</td>
 <td>{{ histo.numero_facture }}</td>
 <td>{{ histo.moyen_payement }}</td>
 <td>{{ histo.paye }}</td>
 <td>{{ histo.gratuit }}</td>
 <td>{{ histo.produit.nom_produit }}</td>
 <td>{{ histo.quantite_vendu }}</td>
 <td>{{ histo.prix|floatformat:3|intcomma }}</td>
</tr>   
{% endfor %}
</table></div>

<h3>Total de la vente = {{somme|floatformat:3|intcomma}}</h3>
<br>
<hr>
<h3>Détails factures non payés</h3>
<div class="card-body">

    <table class="table table-striped ">
    <tr>
    <th>Date vente </th>
    <th>Numéro BL</th>
    <th>Numéro facture</th>
    <th>Moyen de paiement</th>
    <th>Payé</th>
    <th>Gratuit</th>
    <th>Nom produit</th>
    <th>Quantité</th>
    <th>Total</th>
    </tr>   
    {% for histo in historique2 %}
    <tr>
     <td>{{histo.date_vente}}</td>   
     <td>{{ histo.numero_BL }}</td>
     <td>{{ histo.numero_facture }}</td>
     <td>{{ histo.moyen_payement }}</td>
     <td>{{ histo.paye }}</td>
     <td>{{ histo.gratuit }}</td>
     <td>{{ histo.produit.nom_produit }}</td>
     <td>{{ histo.quantite_vendu }}</td>
     <td>{{ histo.prix|floatformat:3|intcomma }}</td>
    </tr>  
    {% endfor %}
    </table></div>
    
    <h3>Total de la vente = {{sommenp|floatformat:3|intcomma }}</h3>


    <br><br><br>
    
    <hr>
    <h3>Détails gratuité</h3>
    <div class="card-body">

        <table class="table table-striped ">
        <tr>
        <th>Date vente </th>
        <th>Numéro BL</th>
        <th>Numéro facture</th>
        <th>Moyen de paiement</th>
        <th>Payé</th>
        <th>Gratuit</th>
        <th>Nom produit</th>
        <th>Quantité</th>

        </tr>   
        {% for histo in gratuite %}
        <tr>
         <td>{{histo.date_vente}}</td>   
         <td>{{ histo.numero_BL }}</td>
         <td>{{ histo.numero_facture }}</td>
         <td>{{ histo.moyen_payement }}</td>
         <td>{{ histo.paye }}</td>
         <td>{{ histo.gratuit }}</td>
         <td>{{ histo.produit.nom_produit }}</td>
         <td>{{ histo.quantite_vendu }}</td>

        </tr>   
        {% endfor %}
        </table>  </div>  
{% endblock %}










