{% extends "base.html" %}
{% load humanize %}
{% block title %} <title>Liste des Ventes</title> {% endblock %}




{% block content %}




<h4>Liste de(s) {{nambir}} ventes(s) </h4>

Filtrer les ventes par période :

 <table>
<tr>
<td width="5%"><a href="{% url 'stock:vente_list_period' '1' %}">Aujourd'hui</a></td>
<td><a href="{% url 'stock:vente_list_period' '2' %}">Hier</a></td>
<td><a href="{% url 'stock:vente_list_period' '3' %}">Cette semaine</a></td>
<td><a href="{% url 'stock:vente_list_period' '4' %}">Ce mois</a></td>
<td><a href="{% url 'stock:vente_list'  %}">Tous</a></td>
 </table>
<br>
<h5 style="background:pink;">Filtrer les ventes par numéro BL/Facture :</h5>

<div style="background:pink;">
    <form action="{% url 'stock:vente_bl_facture' %}" method="post">
         {% csrf_token %}
        N° BL  <select name="bl">
            <option value= "None">--Choisir BL--</option>
{% for ab in posts%}

{% ifchanged %}<option  value="{{ab.numero_BL}}">{{ab.numero_BL}}</option>{% endifchanged %}
{% endfor %}
</select>    
      N° Facture <select name="fact">
        <option value="None">--Choisir Facture--</option>
    {% for ab in posts%}
    {% ifchanged %}<option  value="{{ab.numero_facture}}">{{ab.numero_facture}}</option>{% endifchanged %}
    {% endfor %}
    </select>    
<input type="submit" value="filtrer">
</form></div>
<br>



<div class="post-author">
<table class="styled-table">
<tr>

    <th>Date vente</th>
    <th>Nom du client</th>
    <th>Numéro BL</th>
    <th>Numéro facture</th>
    <th>Moyen de payement</th>
    <th>Paye ?</th>

    <th>Nom du produit</th>
    <th>Quantité vendu</th>

    <th>Montant remise</th>
    <th>Total</th>
</tr>  
{% for ab in posts %}

<tr>
<td>{{ab.date_vente}}</td>
<td>{{ab.client.nom_client}}</td>
<td>{{ab.numero_BL}}</td>
<td>{{ab.numero_facture}}</td>
<td>{{ab.moyen_payement}}</td>
<td>{{ab.paye}}</td>

<td>{{ab.produit.nom_produit}}</td>
<td>{{ab.quantite_vendu}}</td>

<td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
<td>{{ab.prix|floatformat:3|intcomma }}</td>
</tr>    
{% endfor %} 

</table>
{% include "pagination.html" with page=posts %}
<h5>Le montant total des ventes est de  {{somme|floatformat:3|intcomma }} DT</h5>

</div>
<h6>Ventes non payés:</h6>
<div class="post-author" >
    <table class="styled-table">
    <tr>
    
        <th>Date vente</th>
        <th>Nom du client</th>
        <th>Numéro BL</th>
        <th>Numéro facture</th>
        <th>Moyen de payement</th>


        <th>Nom du produit</th>
        <th>Quantité vendu</th>

        <th>Montant remise</th>
        <th>Total</th>
    </tr>  
    {% for ab in ventesnp %}
    
    <tr>
    <td>{{ab.date_vente}}</td>
    <td>{{ab.client.nom_client}}</td>
    <td>{{ab.numero_BL}}</td>
    <td>{{ab.numero_facture}}</td>
    <td>{{ab.moyen_payement}}</td>
 

    <td>{{ab.produit.nom_produit}}</td>
    <td>{{ab.quantite_vendu}}</td>

    <td>{{ab.montant_remise|floatformat:3|intcomma }}</td>
    <td>{{ab.prix|floatformat:3|intcomma }}</td>
    </tr>    
    {% endfor %} 
    
    </table>
    </div>
    <h5> Le montant total des ventes non encore payés est de  {{sommenp|floatformat:3|intcomma }} DT </h5>

    <h6>Gratuités:</h6>
    <div class="post-author">
        <table class="styled-table">
        <tr>
        
            <th>Date vente</th>
            <th>Nom du client</th>
            <th>Numéro BL</th>
            <th>Numéro facture</th>

        
            <th>Nom du produit</th>
            <th>Quantité vendu</th>
        

        </tr>  
        {% for ab in postss %}
        
        <tr>
        <td>{{ab.date_vente}}</td>
        <td>{{ab.client.nom_client}}</td>
        <td>{{ab.numero_BL}}</td>
        <td>{{ab.numero_facture}}</td>

        
        <td>{{ab.produit.nom_produit}}</td>
        <td>{{ab.quantite_vendu}}</td>

        </tr>    
        {% endfor %} 
        
        </table>
    </div>

<br><table border>
    <tr></tr><td><a href="{% url 'stock:vente_list' %}" class="btn btn-info">Liste des ventes</a></td>
    <td><a href="{% url 'stock:vente_ajouter' %}" class="btn btn-info">Ajouter une vente</a></td></tr>
    
    </table>
   
{% endblock %}