{% extends 'base.html' %}

{% block content %}

<div >
    <form method="post" action="{% url 'stock:vente_prd_evol_chart' %}" class="form">
        {% csrf_token %}
 <label for="prd">Nom produit:</label> 
 <select id="prd" name="prd">
<option value= "">--Choisir produit--</option>
{% for ab in prd %}
{% ifchanged %}<option  value="{{ab.nom_produit}}">{{ab.nom_produit}}</option>{% endifchanged %}{% endfor %}</select>

<label for="clt">Nom client:</label> 
 <select id="clt" name="clt">
<option value= "">--Choisir client--</option>
{% for abb in clt %}
{% ifchanged %}<option  value="{{abb.nom_client}}">{{abb.nom_client}}</option>{% endifchanged %}{% endfor %}</select>


<label for="ddd">Date début:</label><input id ="ddd" type ="date" name="dd" default = "None"/ style="width:15% ">
<label for="fff">Date fin:</label><input id ="fff" type ="date" name="df" style="width:15% "/>

<input type="submit" value="Filtrer" style="width:15% "/>
</form>  
</div>    
<br>

<div class="card-body">

  <table class="table table-striped ">
  <tr>
  
      <th>Date vente</th>

      <th>Quantité vendu</th>
  

  </tr>  
  {% for ab in dataset %}
  
  <tr>
  <td>{{ab.date_vente}}</td>

  <td>{{ab.totqte}}</td>

  </tr>    
  {% endfor %} 
  
  </table>
</div>

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
  Highcharts.chart('container', {
      chart: {
          type: 'line'
      },
      title: {
          text: 'Ventes {{prdd}} {{cltt}}'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.date_vente }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          name: 'Ventes produits',
          data: [
            {% for entry in dataset %}{{ entry.totqte }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }, ]
      
      
  });

})
</script>


{% endblock %}